body{
  background-color: blue;
}

h1{
color: white;
text-align:center;
font-family: 'Ruslan Display', cursive;
}
p{
  color: white;
  font-family: 'Crimson Text', serif;
}
a{
  color: white;
  font-family: 'Ubuntu', sans-serif;
}
