body{
  background-color: gray;
}

title{
color: red;
text-align:center;
font-size: 48px
font-family: 'Ruslan Display', cursive;
}
p{
  color: white;
  font-family: 'Crimson Text', serif;
}
a{
  color: white;
  font-family: 'Ubuntu', sans-serif;
}
