td{
  border: 1px solid black;
  padding: 10 px;
  align-items: center;
  font-size: large;
}
body{
  background-color: gray
}
.big{
  text-align: center;
  font-size: x-large;
  font-family: 'Playfair Display', serif;
  font-style: oblique;
  color: green
}
.small{
  text-align: center;
  font-size: large;
font-family: 'Source Serif Pro', serif;
}
.medium{
  font-size: x-small
  text-align:center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
